body{
    background: rgba(193, 188, 238, 0.82);
    text-align: center;
}
h1{
    background: rgba(103, 94, 224, 0.82);
    color: white;
}
h2{
    background: rgba(176, 94, 224, 0.82);
    color: white;
}
img{
    height: 200px;
}